.score {
  max-width: 80%;
  margin: 10px auto;
  text-align: center;
  padding: 3px;
}

.score.bad {
  background-color: red;
}

.score.medium {
  background-color: yellow;
}

.score.good {
  background-color: green;
}
